<% questions ||= nil %>
<% action_icon = question.answer.blank? ? 'reply' : 'pencil' %>
<div class="question">
  <div class="question-content">
    <div class="question-text text-lead">
      <%= find_and_replace_hashtag_link(question.text) %>
    </div>
    <% if question.author.present? %>
      <%= link_to "от @#{question.author.username}", user_path(question.author), class: "question-author" %>
    <% end %>
    <% if question.answer.present? %>
      <div class="question-answer question-answer-text">
        <%= find_and_replace_hashtag_link(question.answer) %>
      </div>
    <% end %>
    <div class="question-date">
      <%= l(question.created_at, format: :short) %>
    </div>
  </div>
  <% if question.user == current_user %>
    <div class="question-actions">
      <%= link_to fa_icon(action_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
                  method: :delete, data: {confirm: 'Точно удалить вопрос?'} %>
    </div>
  <% end %>
</div>
